.box{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
}
.box>label{
    font-size: 22px;
}
.box>label>input{
    width: 98%;
    height: 30px;
}
.box>button{
    width: 150px;
    height: 40px;
    margin-top: 5px;
    margin-left: 150px;
}

.btn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 14px;
    color: white;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover,
.btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  font-size: 18px;
}

.btn:active {
  background: rgb(255, 0, 0);
  color: #fff;
}